*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

body {
    background-color: rgb(255, 167, 196);
    font-family: 'Gill Sans', 'Open Sans', Arial, sans-serif;
}

#registration-form {
    max-width: 500px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px dashed #000000;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
    background-color: rgb(116, 213, 255); color: blackqq; padding: 10px 20px; 
}

/* 버튼 hover */
button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: fuchsia
}


form p {
    padding: 10px;
}

form > p {
    border-bottom: 2px dotted black;
}

label {
    display: inline-block;
    width: 80px;
}

select {
    width: 70%;
    padding: 8px;
    border: 1px dashed #000000;
    box-sizing: border-box;
}

h1::after{
    content: "🔥";
    margin-left: 10px;
}
